html {overflow-y: scroll;}
body {
    margin: 0;
    padding: 0;
    background: #2F2012;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    color: #9B8570;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #000000;
}

h1 {
    font-size: 1.0em;
}

h2 {
    font-size: 5em;
    color: #FFFFFF
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.3em;
}
a {
    text-decoration: none;
    color: #27A5D5;
}

a:hover{
    color: #5DC5FF;
}

#output table,#output td, #output tr, #output th{
    border-collapse: collapse;
    border: 1px solid #CCC;
}

#output td, #output th{
    padding:10px;
    background-color: #FFFFFF;
}

#output tr:hover{
    background-color: #DEDEDE;
}

#wrapper {
    width:960px;
    background-color:#f8f8f8;
    margin:0 auto;
    border-left:1px solid #2F2012;
    border-right:1px solid #2F2012;
    background: #f8f8f8 url(images/img01.jpg) repeat-x left top;
}

#header {
    width:960px;
    height:97px;
    margin:0 auto;
    margin-bottom:15px;
}

#header h1{
    color: #FFFFFF;
    margin-left: 10px;
}

#header h2 {
    padding:10px;
}

#header h3 {
    padding:10px;
}

#nav {
    width:960px;
    height:40px;
}

#content {
    width:675px;
    float:left;
    padding:10px;
}

#sidebar {
    width:200px;
    float:right;
    padding:10px;
    background-color: #FFFFFF;
}

#sidebar a {
    text-decoration:none;
}

#sidebar li {
    list-style:none;
}

#footer {
    clear:both;
    width:960px;
    height:135px;
    background: #2F2012;
}

#footer p {
    padding:10px;
}

#pcm{display:none;}
ul.pureCssMenu ul{display:none}
ul.pureCssMenu li:hover>ul{display:block}
ul.pureCssMenu ul{position: absolute;left:-1px;top:98%;}
ul.pureCssMenu ul ul{position: absolute;left:98%;top:-2px;}
ul.pureCssMenu,ul.pureCssMenu ul {
    margin:0px;
    list-style:none;
    padding:0px 5px 5px 0px;
    background-color:#ffffff;
    background-repeat:repeat;
    border-color:#9B8570;
    border-width:1px;
    border-style:solid;

}
ul.pureCssMenu table {border-collapse:collapse}ul.pureCssMenu {
    display:block;
    zoom:1;
    float: left;
}
ul.pureCssMenu ul{
    width:160.65px;
}
ul.pureCssMenu li{
    display:block;
    margin:5px 5px 0px 5px;
    font-size:0px;
}
ul.pureCssMenu a:active, ul.pureCssMenu a:focus {
    outline-style:none;
}
ul.pureCssMenu a, ul.pureCssMenu li.dis a:hover, ul.pureCssMenu li.sep a:hover {
    display:block;
    vertical-align:middle;
    background-color:#ffffff;
    border-width:0px;
    border-color:#6655ff;
    border-style:solid;
    text-align:left;
    text-decoration:none;
    padding:4px;
    _padding-left:0;
    font:normal 11px Verdana;
    color: #444444;
    text-decoration:none;
    cursor:default;
}
ul.pureCssMenu span{
    overflow:hidden;
}
ul.pureCssMenu li {
    float:left;
}
ul.pureCssMenu ul li {
    float:none;
}
ul.pureCssMenu ul a {
    text-align:left;
    white-space:nowrap;
}
ul.pureCssMenu li.sep{
    text-align:center;
    padding:0px;
    line-height:0;
    height:100%;
}
ul.pureCssMenu li.sep span{
    float:none;	padding-right:0;
    width:5;
    height:16;
    display:inline-block;
    background-color:#AAAAAA;	background-image:none;}
ul.pureCssMenu ul li.sep span{
    width:80%;
    height:3;
}
ul.pureCssMenu li:hover{
    position:relative;
}
ul.pureCssMenu li:hover>a{
    background-color:#4792E6;
    border-color:#665500;
    border-style:solid;
    font:normal 11px Verdana;
    color: #ffffff;
    text-decoration:none;
}
ul.pureCssMenu li a:hover{
    position:relative;
    background-color:#4792E6;
    border-color:#665500;
    border-style:solid;
    font:normal 11px Verdana;
    color: #ffffff;
    text-decoration:none;
}
ul.pureCssMenu li.dis a {
    color: #AAAAAA !important;
}
ul.pureCssMenu img {border: none;float:left;_float:none;margin-right:4px;width:16px;
                    height:16px;
}
ul.pureCssMenu ul img {width:16px;
                       height:16px;
}
ul.pureCssMenu img.over{display:none}
ul.pureCssMenu li.dis a:hover img.over{display:none !important}
ul.pureCssMenu li.dis a:hover img.def {display:inline !important}
ul.pureCssMenu li:hover > a img.def  {display:none}
ul.pureCssMenu li:hover > a img.over {display:inline}
ul.pureCssMenu a:hover img.over,ul.pureCssMenu a:hover ul img.def,ul.pureCssMenu a:hover a:hover ul img.def,ul.pureCssMenu a:hover a:hover a:hover ul img.def,ul.pureCssMenu a:hover a:hover img.over,ul.pureCssMenu a:hover a:hover a:hover img.over,ul.pureCssMenu a:hover a:hover a:hover a:hover img.over{display:inline}
ul.pureCssMenu a:hover img.def,ul.pureCssMenu a:hover ul img.over,ul.pureCssMenu a:hover a:hover ul img.over,ul.pureCssMenu a:hover a:hover a:hover ul img.over,ul.pureCssMenu a:hover a:hover img.def,ul.pureCssMenu a:hover a:hover a:hover img.def,ul.pureCssMenu a:hover a:hover a:hover a:hover img.def{display:none}
ul.pureCssMenu a:hover ul,ul.pureCssMenu a:hover a:hover ul,ul.pureCssMenu a:hover a:hover a:hover ul{display:block}
ul.pureCssMenu a:hover ul ul,ul.pureCssMenu a:hover a:hover ul ul{display:none}
ul.pureCssMenu span{
    display:block;
    background-image:url(./images/arrv_anim_1.gif);
    background-position:right center;
    background-repeat: no-repeat;
    padding-right:11px;}
ul.pureCssMenu li:hover>a>span{	background-image:url(./images/arrv_anim_1o.gif);
}
ul.pureCssMenu a:hover span{	_background-image:url(./images/arrv_anim_1o.gif)}
ul.pureCssMenu ul span,ul.pureCssMenu a:hover table span{background-image:url(./images/arr_double_1.gif)}
ul.pureCssMenu ul li:hover > a span{	background-image:url(./images/arr_double_1o.gif);}
ul.pureCssMenu table a:hover span,ul.pureCssMenu table a:hover a:hover span,ul.pureCssMenu table a:hover a:hover a:hover span{background-image:url(./images/arr_double_1o.gif)}
ul.pureCssMenu table a:hover table span,ul.pureCssMenu table a:hover a:hover table span{background-image:url(./images/arr_double_1.gif)}